@font-face {
  font-family: 'typicons';
  src: url("icons/typicons.eot");
  src: url("icons/typicons.eot?#iefix") format("embedded-opentype"), url("icons/typicons.woff") format("woff"), url("icons/typicons.ttf") format("truetype"), url("icons/typicons.svg#typicons") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%;
  font-family: "ff-tisa-web-pro", sans-serif;
  background: #ecf0f1;
  color: #293A4A; }

/*?????????????????????????????????????????????
?????????????????????????????????????????????
?????????????????????????????????????????????*/
/*Old browsers and Warnings*/
#ie_warning, #js_warning {
  width: 100%;
  height: 100%;
  background-color: #0074d9;
  color: #fff;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1.4em; }

.warning_content {
  max-width: 25em;
  margin: 0 auto;
  margin-top: 20px; }

.warning_content a, .warning_content a:visited {
  color: #ff851b;
  opacity: 0.8; }

.warning_content a:hover {
  opacity: 1; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Links Styles*/
.button {
  display: inline-block;
  margin: 0 auto;
  border: 1px white solid;
  padding: 10px 19px;
  color: #fff !important;
  transition: 0.3s all;
  text-decoration: none;
  border-radius: 5px; }

.button:hover {
  background: #fff;
  color: #0074d9 !important; }

.link-wrapper {
  margin-top: 20px;
  width: 100%;
  text-align: center; }

a {
  color: #2980b9;
  transition: 0.3s all; }

a:hover {
  color: #293A4A; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Typography*/
p {
  font-family: "ff-tisa-web-pro", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "rooney-web", sans-serif; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Component CSS*/
.circle-heading {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: cover;
  margin: 0 auto; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Navigation*/
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: 0.3s all;
  z-index: 100;
  background: #58B6F2;
  height: 100%;
  min-width: 200px; }

nav h1 {
  color: #293A4A;
  padding-left: 20px;
  padding-right: 10px; }

nav ul {
  position: relative;
  left: 0;
  transition: 0.3s all; }

nav ul, nav li {
  list-style: none;
  padding: 0;
  transition: 0.3s all;
  font-size: 1em; }

nav ul li a {
  text-decoration: none;
  transition: 0.3s all;
  color: #336A94; }

#mainNav li a:hover {
  text-decoration: underline; }

nav li {
  margin-bottom: 2px; }

#mainNav .active a {
  padding-left: 10px;
  color: #293A4A !important; }

#mainNav {
  transition: 0.5s all;
  padding-left: 20px;
  padding-right: 10px; }

.whiteTitle {
  color: #fff !important; }

#nav-bottom {
  min-width: 100% !important;
  background: #293A4A;
  position: absolute;
  bottom: 0px; }

#nav-bottom a:hover {
  color: #58B6F2; }

#nav-bottom > ul {
  width: 100%;
  color: white;
  font-size: 11px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

#nav-bottom > ul > li {
  margin: 0px;
  margin-top: 1px; }

.footer-title {
  font-weight: 900; }

.anniversary-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 250px; }

.gala-learn-more {
  background: #fff;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  top: 240px;
  right: -100px;
  color: #4C675E;
  transition: 0.3s all; }

.gala-learn-more > a {
  color: #4C675E !important; }

.gala-appear {
  right: 48px; }

/*
//////////////////////////////////////
///////////////////sub-nav
//////////////////////////////////////
*/
#sub-menu-list {
  margin: 0px;
  height: 0px;
  transition: 0.5s all;
  opacity: 0;
  visibility: hidden; }

.sub-menu:hover {
  cursor: pointer; }

.slideDown {
  visibility: visible !important;
  margin: 2px 0px !important;
  margin-bottom: 8px !important;
  margin-left: 6px !important;
  opacity: 1 !important;
  height: 72px !important; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Prev, Next navingation for horizontal slides */
.fp-controlArrow {
  display: none !important; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Custom Slide CSS */
.dark-filter {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10%; }

.section {
  text-align: center;
  padding-left: 10%; }

.main-heading-intro {
  font-family: 'rooney-web', sans-serif;
  color: #fff;
  margin: 25% auto 0px auto;
  max-width: 807px;
  font-size: 0.7em;
  line-height: 1.2em; }

.section-main-content {
  max-width: 650px;
  margin: 0 auto;
  text-align: left;
  line-height: 22px; }

.subtitle {
  text-align: center; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* owl slider styles */
.recommend-slides h1, .recommend-slides h3 {
  text-align: center; }

.rec-name {
  font-weight: 100; }

.rec-title {
  font-style: italic; }

.owl-prev, .owl-next {
  position: absolute;
  background: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  top: 25%; }

.owl-prev {
  left: -60px; }

.owl-next {
  right: -60px; }

.owl-carousel {
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 30px; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* home section */
#home-page {
  background: url(http://attitudinalhealingconnection.files.wordpress.com/2012/09/img_5961.jpg);
  background-size: cover; }

#home-page {
  color: #fff;
  padding: 0px; }

#home-page .fp-tableCell {
  background: rgba(0, 0, 0, 0.6); }

#home-heading {
  z-index: 1000;
  text-align: center; }

/* Slideshow */
.ss-frame {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1.5s all; }

.active-ss {
  opacity: 1 !important; }

#first {
  background: url("http://bit.ly/1uZPZEa"); }

#second {
  background: url("http://bit.ly/1kX6Sf6"); }

#third {
  background: url("http://bit.ly/1wbTjNT"); }

#fourth {
  background: url("http://bit.ly/1tnXfqa"); }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Program section */
.instructions p {
  font-weight: 900; }

#program-list {
  margin: 0;
  padding-left: 0px !important;
  text-indent: 0; }
  #program-list li {
    margin: 0;
    display: inline-block;
    border: 1px solid #2c3e50;
    padding: 5px 10px;
    margin-right: 10px;
    transition: 0.3s all; }
  #program-list li:hover {
    background-color: #34495e;
    color: #fff; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Intro section  */
#intro {
  background: url(http://attitudinalhealingconnection.files.wordpress.com/2012/09/img_4441.jpg);
  background-size: cover;
  color: #fff; }

#intro .fp-tableCell {
  background: rgba(0, 0, 0, 0.4); }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  What is Mindful Drumming? section  */
#what-is-MD .circle-heading {
  background: url(http://attitudinalhealingconnection.files.wordpress.com/2012/09/img_5930.jpg);
  background-size: cover;
  background-position: 43% 100%; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Impact section  */
#svg-container {
  max-width: 250px;
  margin: 0 auto; }

#content-here {
  list-style: none;
  width: 100%;
  height: 300px;
  padding-top: 18px;
  text-align: left;
  background: #F28E37;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 400px;
  padding: 20px; }

#content-here li {
  text-align: left;
  margin-bottom: 10px; }

#content-here h1 {
  text-align: center; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  who section  */
.who em {
  font-style: normal;
  font-weight: 900; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  health staff section  */
.healthy-staff-slides p {
  text-align: center; }

.quotes-from-ppl {
  display: inline-block;
  position: absolute;
  width: 300px;
  left: -350px;
  font-style: italic; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Schedule Workshop  */
.contact-info {
  text-align: center;
  list-style: none; }

.contact-info li:first-child {
  font-weight: 900; }

#contact-us {
  text-align: center; }
  #contact-us ul {
    list-style: none;
    padding: 0px; }
  #contact-us h2 {
    margin: 0;
    margin-bottom: -10px;
    padding: 0; }

#contact-us > form p {
  text-align: left; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Contact Form*/
.cmxform {
  max-width: 400px;
  margin: 0 auto;
  background: white; }

form label {
  text-align: left; }

#contact-us > form p.submit-button {
  text-align: center !important; }

#slider {
  margin: 0 auto;
  transition: 0.3s all;
  background: white !important;
  color: red;
  border: 1px solid red;
  padding: 20px;
  position: relative;
  top: -90px;
  max-width: 300px;
  text-align: center;
  opacity: 1;
  z-index: -1; }

.slideDownWarning {
  top: 0px !important;
  opacity: 1 !important; }

#mybutton:hover {
  cursor: pointer; }

.error {
  color: red;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  margin-top: 5px; }

textarea {
  resize: vertical;
  font-family: 'rooney-web', sans-serif;
  font-size: 12px; }

#ccomment {
  display: block;
  width: 100%;
  height: 50px; }

.required-ast {
  color: red; }

input {
  width: 100%;
  font-family: 'rooney-web', sans-serif;
  font-size: 12px; }

#successModal {
  background: #27ae60;
  padding: 20px;
  margin: 0px auto;
  opacity: 0;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  display: inline-block;
  color: white; }

.successVisible {
  opacity: 1 !important; }

input:focus {
  outline: 0;
  box-shadow: none; }

.submit {
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  max-width: 150px;
  padding: 10px;
  margin: 0 auto;
  transition: 0.3s all; }

.submit:hover {
  cursor: pointer;
  background: #2ecc71; }

textarea:focus, input:focus {
  outline: 0; }

form {
  padding: 10px;
  border-radius: 10px; }

fieldset {
  border: none; }

::-webkit-input-placeholder {
  color: #293A4A; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #293A4A; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #293A4A; }

:-ms-input-placeholder {
  color: #293A4A; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Photos  */
.photo-slides {
  text-align: center; }
  .photo-slides img {
    height: 400px; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Accordion  */
.accordion {
  margin: 1em 0; }

.accordion h3 {
  background: url("http://www.epa.gov/region1/images2/misc/accordion-default.jpg") no-repeat right top #559b6a;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 4px 10px; }

.accordion h3.current {
  background: url("http://www.epa.gov/region1/images2/misc/accordion-active.jpg") no-repeat right top #4289aa;
  cursor: default; }

.accordion div.pane {
  padding: 5px 10px; }
