@font-face {
  font-family: 'typicons';
  src: url("icons/typicons.eot");
  src: url("icons/typicons.eot?#iefix") format("embedded-opentype"), url("icons/typicons.woff") format("woff"), url("icons/typicons.ttf") format("truetype"), url("icons/typicons.svg#typicons") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%;
  font-family: "ff-tisa-web-pro", sans-serif;
  background: #ecf0f1;
  color: #293A4A; }

.bold {
  font-weight: 700; }

/*?????????????????????????????????????????????
?????????????????????????????????????????????
?????????????????????????????????????????????*/
/*Old browsers and Warnings*/
#ie_warning, #js_warning {
  width: 100%;
  height: 100%;
  background-color: #0074d9;
  color: #fff;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1.4em; }

.warning_content {
  max-width: 25em;
  margin: 0 auto;
  margin-top: 20px; }

.warning_content a, .warning_content a:visited {
  color: #ff851b;
  opacity: 0.8; }

.warning_content a:hover {
  opacity: 1; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Links Styles*/
.button {
  display: inline-block;
  margin: 0 auto;
  border: 1px white solid;
  padding: 10px 19px;
  color: #fff !important;
  transition: 0.3s all;
  text-decoration: none;
  border-radius: 5px; }

.button:hover {
  background: #fff;
  color: #0074d9 !important; }

.link-wrapper {
  margin-top: 20px;
  width: 100%;
  text-align: center; }

a {
  color: #2980b9;
  transition: 0.3s all; }

a:hover {
  color: #293A4A; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Typography*/
p {
  font-family: "ff-tisa-web-pro", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "rooney-web", sans-serif; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Navigation*/
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: 0.3s all;
  z-index: 100;
  background: #3B8EDB;
  height: 100%;
  min-width: 200px; }

nav h1 {
  color: #293A4A;
  padding-left: 20px; }

nav ul {
  position: relative;
  left: 0;
  transition: 0.3s all; }

nav ul, nav li {
  list-style: none;
  padding: 0;
  transition: 0.3s all;
  font-size: 1em; }

nav ul li a {
  text-decoration: none;
  transition: 0.3s all;
  color: #fff; }

#mainNav li a:hover {
  text-decoration: underline; }

nav li {
  margin-bottom: 2px; }

#mainNav .active a {
  padding-left: 10px;
  color: #293A4A !important; }

#mainNav {
  transition: 0.5s all;
  padding-left: 20px;
  padding-right: 10px; }

.hiddenNav {
  left: -250px; }

.lightness {
  color: #fff !important; }

.darkness {
  color: #333 !important; }

#nav-bottom {
  min-width: 100% !important;
  background: #293A4A;
  position: absolute;
  bottom: 0px; }

#nav-bottom a:hover {
  color: #58B6F2; }

#nav-bottom > ul {
  width: 100%;
  color: white;
  font-size: 11px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

#nav-bottom > ul > li {
  margin: 0px;
  margin-top: 1px; }

.footer-title {
  font-weight: 900; }

.anniversary-icon {
  position: absolute;
  top: -155px;
  right: 45px;
  width: 65%; }

.gala-learn-more {
  background: #fff;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  top: 240px;
  right: -100px;
  color: #4C675E;
  transition: 0.8s all; }

.gala-learn-more > a {
  color: #4C675E !important; }

.gala-appear {
  right: 48px; }

/*
//////////////////////////////////////
///////////////////sub-nav
//////////////////////////////////////
*/
.sub-menu-list {
  margin: 0px;
  height: 0px;
  transition: 0.5s all;
  opacity: 0;
  visibility: hidden; }

.sub-menu:hover {
  cursor: pointer; }

.slideDown {
  visibility: visible !important;
  margin: 2px 0px !important;
  margin-bottom: 2px !important;
  margin-left: 20px !important;
  opacity: 1 !important;
  height: 52px !important; }
  .slideDown li {
    font-style: italic;
    color: #293A4A;
    transition: 0.3s all; }
  .slideDown li:hover {
    text-decoration: underline;
    color: #293A4A; }

.slideDown2 {
  visibility: visible !important;
  margin: 2px 0px !important;
  margin-bottom: 2px !important;
  margin-left: 20px !important;
  opacity: 1 !important;
  height: 111px !important; }
  .slideDown2 li {
    font-style: italic;
    color: #293A4A;
    transition: 0.3s all; }
  .slideDown2 li:hover {
    text-decoration: underline;
    color: #293A4A; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Prev, Next navingation for horizontal slides */
.fp-controlArrow {
  display: none !important; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Custom Slide CSS */
.chapter-circles {
  background: #293A4A;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 0 auto;
  border: 2px solid white;
  z-index: 2;
  background-size: cover !important;
  background-position: center left !important; }

.top-swatch {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 390px;
  background: #F28E37;
  z-index: 1;
  background-size: cover !important;
  background-position: center !important;
  border-bottom: 1px solid white; }

.top-swatch-programs {
  position: absolute;
  top: 0px;
  width: 20%;
  padding: 0px;
  height: 390px;
  background: white; }

.top-swatch-programs ul, .top-swatch-programs li {
  list-style: none;
  margin: 0px;
  height: 100%;
  padding: 0px; }

.top-swatch-programs li {
  display: inline-block;
  height: 100%;
  width: 49.8%; }

.first-swatch-programs {
  background-size: 100% !important; }

.second-swatch-programs {
  background-size: 100% !important; }

#visual-art-slide .first-swatch-programs {
  background: url(../img/new/VisualArts1-11.54.44-PM.jpg);
  background-position: center center !important; }

#visual-art-slide .second-swatch-programs {
  background: url(../img/new/VisualArts2-11.54.44-PM.jpg);
  background-position: center center !important; }

#cultural-art-slide .first-swatch-programs {
  background: url(../img/new/CulturalArts3-11.54.44-PM.jpg); }

#cultural-art-slide .second-swatch-programs {
  background: url(../img/new/CulturalArts2-11.54.23-PM.jpg);
  background-position: center -110px !important; }

#fashion-slide .first-swatch-programs {
  background: url(../img/new/FashionDesign1.jpg); }

#fashion-slide .second-swatch-programs {
  background: url(../img/new/FashionDesign2-11.54.44-PM.jpg); }

#family-nights-slide .first-swatch-programs {
  background: url(../img/new/FamilyNight1-11.54.44-PM.jpg); }

#family-nights-slide .second-swatch-programs {
  background: url(../img/new/FamilyNight2-11.54.44-PM.jpg); }

#circle-omp {
  background: url(../img/new/OaklandSuperHeroes1-11.54.44-PM.jpg);
  left: 245px !important;
  background-position: center center !important; }

#circle-intro {
  background: url(../img/new/Introcircle-circleSize.jpg);
  background-position: center center !important; }

#cirlce-sas {
  background: url(../img/self-as-superhero/book-cover.jpg); }

#swatch-intro {
  background: url(../img/school/class-12.jpg); }

#top-swatch-OMP {
  height: 390px;
  background: url(../img/mural/far.jpg); }

.pair {
  position: absolute;
  top: -90px;
  left: 280px; }

.pair-wrapper {
  position: relative;
  background: white;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 20px;
  padding-top: 55px;
  z-index: 5; }

.dark-filter {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10%; }

.intro-section-container {
  z-index: 200;
  position: relative;
  top: -120px; }

.section {
  text-align: center;
  padding-left: 10%; }

.main-heading-intro {
  font-family: 'rooney-web', sans-serif;
  color: #fff;
  margin: 15% auto 0px auto;
  max-width: 807px;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2em; }

.main-heading {
  text-decoration: underline;
  text-align: center; }

.section-main-content {
  width: 650px;
  margin: 0 auto;
  text-align: left;
  line-height: 22px; }

.push-up {
  position: relative;
  top: -100px; }

.subtitle {
  text-align: center; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* owl slider styles */
.recommend-slides h1, .recommend-slides h3 {
  text-align: center; }

.recommend-slides {
  padding: 10px 40px;
  margin-top: 30px; }

#recommendations {
  max-height: 400px;
  margin-top: -40px; }

.rec-name {
  font-weight: 100; }

.rec-title {
  font-style: italic; }

.owl-prev, .owl-next {
  font-family: sans-serif;
  position: absolute;
  background: white;
  width: 30px;
  height: 30px;
  line-height: 32px;
  border-radius: 15px;
  text-align: center;
  top: 25%;
  font-size: 26px; }

.owl-prev {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg); }

.owl-prev {
  left: -60px; }

.owl-next {
  right: -60px; }

.owl-carousel {
  margin: 0 auto; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* home section */
#home-page {
  /*background: url(http://cl.ly/image/1j2I0H3P0w0B/img_04271.jpg);*/
  background: #222; }

#home-page {
  color: #fff;
  font-size: 40px; }

/* Slideshow */
.ss-frame {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1.5s all; }

.active-ss {
  opacity: 1 !important; }

#first {
  background: url("../img/new-low-exposure/HomePage1-11.54.44-PM.jpg"); }

#second {
  background: url("../img/new-low-exposure/HomePage2-11.54.44-PM.jpg"); }

#third {
  background: url("../img/new-low-exposure/HomePage3-11.54.44-PM.jpg"); }

#fourth {
  background: url("../img/new-low-exposure/Reach1-11.54.44-PM.jpg"); }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Intro section */
#intro-section .fp-tableCell {
  background: #222; }

#play-video {
  margin: 10px auto 0 auto;
  opacity: 0.7;
  border: 1px solid white;
  display: block; }

#play-video:hover {
  opacity: 1;
  cursor: pointer; }

.video-caption {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Oakland Mural Project section */
.p-radius-box {
  border-radius: 10px;
  padding: 40px;
  background: white;
  border: 1px solid #aaa; }

#omp .fp-tableCell {
  background: #222; }

#impact .fp-tableCell {
  background-color: #F28E37; }

#impact-circle {
  background: url(../img/new/Impact1-circleSize.jpg);
  background-position: 151px center !important; }

#pro-dev .fp-tableCell {
  background-color: #F28E37; }

#reach .fp-tableCell {
  background: url(../img/new-low-exposure/Reach1-11.54.44-PM.jpg);
  background-size: 100%; }

#reach-top-swatch {
  background: url(../img/new-low-exposure/Reach1-11.54.44-PM.jpg); }

#reach-circle {
  background: url(../img/new/Reach2-11.54.44-PM.jpg); }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Program section */
#visual-art-swatch .first-swatch {
  background: url(../img/stock-photos/paint-table.jpg);
  z-index: 2;
  width: 40% !important; }

#visual-art-swatch .second-swatch {
  z-index: 2;
  background: url(../img/new/VisualArts2-11.54.44-PM.jpg);
  background-size: 100%; }

.program-photos {
  background-size: cover !important;
  background-position: center left !important;
  width: 25%; }

#visual-art-slide .fp-tableCell {
  background: #222 !important; }

#program-section .fp-tableCell {
  background-color: #222;
  background: url(../img/new-low-exposure/Programs3-11.54.44-PM.jpg);
  background-size: 100%; }

#fashion-slide .fp-tableCell {
  background: #222;
  background-size: 100%;
  background-position: 0px 390px !important; }

#cultural-art-slide .fp-tableCell {
  background: #222;
  background-size: 100%; }

#cultural-art-slide .first-swatch {
  background: url(../img/new-low-exposure/CulturalArts3-11.54.44-PM.jpg); }

#cultural-art-slide .second-swatch {
  background: url(../img/stock-photos/drumming.jpg); }

#family-nights-slide .fp-tableCell {
  background: #222;
  background-size: 100%;
  background-position: center 395px; }

#programs-circle-1 {
  background: url(../img/new/Programs1-circleSize.jpg);
  background-position: center right; }

#programs-circle-2 {
  background: url(../img/new/VisualArts3-circleSize.jpg);
  background-position: right bottom !important; }

#programs-circle-3 {
  background: url(../img/new/CulturalArts1-circleSize.jpg);
  background-position: center top !important; }

#programs-circle-4 {
  background: url(../img/new/FashionDesign3-circleSize.jpg);
  background-position: center top !important; }

#programs-circle-5 {
  background: url(../img/new/FamilyNight3-circleSize.jpg);
  background-position: right top !important; }

.instructions p {
  font-weight: 900; }

.instructions {
  text-align: center;
  margin-top: 10px; }
  .instructions li {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px; }

.select-staff {
  padding: 20px;
  position: relative;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-radius: 10px; }

.staff-list, .staff-list > ul, .instructor-list > ul {
  list-style: none;
  display: block; }

.staff-list, .instructor-list {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 20px; }

.staff-list > li, .instructor-list > li {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: #293A4A;
  margin: 10px 5px;
  list-style: none; }

.staff-list > li:hover, .instructor-list > li:hover {
  cursor: pointer; }

div.staff-info, div.instructor-info {
  background: white;
  margin-left: 120px;
  padding: 20px;
  padding-top: 0px;
  height: 350px;
  min-width: 75%; }

.program-list {
  margin: 0;
  padding-left: 0px !important;
  text-indent: 0;
  margin-top: 20px; }
  .program-list li {
    margin: 0;
    display: inline-block;
    border: 1px solid #2c3e50;
    padding: 3px 8px;
    margin-right: 10px;
    transition: 0.3s all; }
  .program-list li:hover {
    background-color: #34495e;
    color: #fff; }

.inActive-link {
  color: #ccc !important;
  border: #ccc 1px solid !important; }

.inActive-link:hover {
  cursor: default !important;
  color: #ccc !important;
  border: #ccc 1px solid !important;
  background: none !important; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/* Self as Superhero section */
#sas-intro .fp-tableCell {
  background: url(../img/self-as-superhero/book-cover-large.jpg); }

.photo-container-under-text {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: -30px; }

.photo-container-under-text > figure {
  margin: 0 auto;
  display: inline-block;
  margin: 0px;
  position: relative; }

.photo-container-under-text figcaption {
  position: relative;
  margin: 0 auto;
  text-align: center !important; }

.photo-container-under-text img {
  width: 400px;
  display: block;
  margin: 0 auto; }

.photo-container-under-text h1 {
  margin: 0px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px; }

.photo-container-under-text h2 {
  margin: 0px;
  font-size: 12px;
  font-style: italic;
  font-weight: 100; }

.photo-container-under-text p {
  margin: 0px;
  font-size: 10px;
  text-align: left; }

.photo-container-under-text .owl-next {
  right: 28px;
  background: #F28E37;
  padding: 10px;
  border-radius: 45px;
  opacity: 0.5;
  transition: 0.3s all; }

.photo-container-under-text .owl-prev {
  left: 20px;
  background: #F28E37;
  padding: 10px;
  border-radius: 45px;
  opacity: 0.5;
  transition: 0.3s all; }

.photo-container-under-text .owl-prev:hover, .photo-container-under-text .owl-next:hover {
  opacity: 1; }

.show-caption {
  top: 10px !important; }

#images-and-stories {
  background: url(../img/new/Student_TeacherQuotes1-11.54.44-PM.jpg);
  background-position: center center !important; }

#student-teacher-quotes {
  background: url(../img/new/Student_TeacherQuotes3-circleSize.jpg); }

#sas-slide-2 .fp-tableCell {
  background-color: #222; }

#sas-slide-3 .fp-tableCell {
  background-color: #FC9F2A; }

#sas-st-swatch {
  background-color: white; }

#sas-st-swatch {
  width: 33.5%; }

#sas-st-swatch .first-swatch-programs {
  background: url(../img/new/Student_TeacherQuotes1-11.54.44-PM.jpg); }

#sas-st-swatch .second-swatch-programs {
  background: url(../img/new/Student_TeacherQuotes2-11.54.44-PM.jpg); }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Professional development Section  */
#pro-dev-circle {
  background: url(../img/new/ProfDevelpmnt1-circleSize.jpg); }

#top-swatch-pro-dev {
  width: 90%; }

#top-swatch-pro-dev .first-swatch-programs {
  background: url(../img/new/ProfDevelpmnt3-11.54.44-PM.jpg);
  background-position: center center !important; }

#top-swatch-pro-dev .second-swatch-programs {
  background: url(../img/new-low-exposure/ProfDevelpmnt2-11.54.44-PM.jpg);
  background-position: center center !important; }

.first-swatch {
  width: 55%;
  height: 390px;
  float: left;
  z-index: 50; }

.second-swatch {
  width: 45%;
  height: 390px;
  float: left; }

#pro-dev-slides .owl-next {
  background: #3B8EDB;
  color: white;
  padding: 7px;
  border-radius: 40px;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
  right: -80px !important; }

#pro-dev-slides .owl-prev {
  background: #3B8EDB;
  color: white;
  padding: 7px;
  border-radius: 40px;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
  left: -80px !important; }

#pro-dev-slides .owl-prev:hover, #pro-dev-slides .owl-next:hover {
  opacity: 1; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
#social-justice .fp-tableCell {
  background: #F28E37; }

#social-justice-circle {
  background: url(../img/new/SocialJustice1-circleSize.jpg);
  background-position: center center !important; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  artwork section  */
#artwork-container {
  max-width: 680px;
  max-height: 400px;
  margin: 0 auto;
  display: block;
  text-align: center; }

#artwork-container img {
  max-width: 100% !important;
  max-height: 100px !important; }

h1.title-artwork {
  margin: 0px auto;
  text-decoration: underline;
  margin-top: 25px; }

h3.title-artwork {
  font-size: 16px;
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 10px; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  class photos section  */
#class-container {
  max-width: 600px;
  max-height: 400px;
  margin: 0 auto;
  display: block;
  text-align: center; }

#class-container img {
  max-width: 100% !important;
  max-height: 100px !important; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Staff Section  */
#staff .fp-tableCell {
  background: #FC9F2A; }

.circle {
  border: 2px solid white;
  background: white;
  margin: 0px auto 15px auto;
  width: 125px;
  height: 125px;
  border-radius: 62.5px; }

.column-1-3 {
  text-align: left; }

.staff-heading {
  font-size: 22px;
  margin: 0;
  text-align: center; }

.staff-title {
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  text-align: center; }

#amana-profile {
  background: url(../img/staff/amana.jpg);
  background-size: 100%;
  background-position: center top; }

#erica-profile {
  background: url(../img/staff/StaffOurTeam2.jpg);
  background-size: 108%;
  background-position: center 96px; }

#kamilah-profile {
  background: url(../img/staff/StaffOurTeam1.jpg);
  background-size: 100%;
  background-position: center 105px; }

#dan-profile {
  background: url(../img/staff/StaffArtEsteemInstructors1.jpg);
  background-size: 100%;
  background-position: center 105px; }

#chris-profile {
  background: url(../img/staff/StaffArtEsteemInstructors2.jpg);
  background-size: 100%;
  background-position: center 105px; }

#justin-profile {
  background: url(../img/staff/StaffArtEsteemInstructors3.jpg);
  background-size: 100%;
  background-position: center 105px; }

#msK-profile {
  background: url(../img/staff/StaffArtEsteemInstructors4.jpg);
  background-size: 100%;
  background-position: center 105px; }

.staff-info {
  text-align: left; }

.staff-info .staff-name {
  font-size: 22px;
  font-style: italic;
  text-align: center !important; }

.instructor-info .staff-name {
  font-size: 22px;
  font-style: italic;
  text-align: center !important; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*  Contact Us  */
#contact-section .fp-tableCell {
  background: #F28E37; }

#contact-us {
  text-align: center; }
  #contact-us ul {
    list-style: none;
    padding: 0px; }
  #contact-us h2 {
    margin: 0;
    margin-bottom: -10px;
    padding: 0; }

#contact-us > form p {
  text-align: left; }

/*///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*Contact Form*/
.cmxform {
  max-width: 400px;
  margin: 0 auto;
  background: white; }

form label {
  text-align: left; }

#contact-us > form p.submit-button {
  text-align: center !important; }

#slider {
  margin: 0 auto;
  transition: 0.3s all;
  background: white !important;
  color: red;
  border: 1px solid red;
  padding: 20px;
  position: relative;
  top: -90px;
  max-width: 300px;
  text-align: center;
  opacity: 1;
  z-index: -1; }

.slideDownWarning {
  top: 0px !important;
  opacity: 1 !important; }

#mybutton:hover {
  cursor: pointer; }

.error {
  color: red;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  margin-top: 5px; }

textarea {
  resize: vertical;
  font-family: 'rooney-web', sans-serif;
  font-size: 12px; }

#ccomment {
  display: block;
  width: 100%;
  height: 50px; }

.required-ast {
  color: red; }

input {
  width: 100%;
  font-family: 'rooney-web', sans-serif;
  font-size: 12px; }

#successModal {
  background: #27ae60;
  padding: 20px;
  margin: 0px auto;
  opacity: 0;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  display: inline-block;
  color: white; }

.successVisible {
  opacity: 1 !important; }

input:focus {
  outline: 0;
  box-shadow: none; }

.submit {
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  max-width: 150px;
  padding: 10px;
  margin: 0 auto;
  transition: 0.3s all; }

.submit:hover {
  cursor: pointer;
  background: #2ecc71; }

textarea:focus, input:focus {
  outline: 0; }

form {
  padding: 10px;
  border-radius: 10px; }

fieldset {
  border: none; }

::-webkit-input-placeholder {
  color: #293A4A; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #293A4A; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #293A4A; }

:-ms-input-placeholder {
  color: #293A4A; }
